* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: rgba(20,58,182,0.637);
  color: #fff;
}

a {
  color: #fff;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: rgba(13, 49, 167, 0.856);
  color: #fff;
  margin-bottom: 30px;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
  width: 100%;
  padding: 2px;
}

.icons svg {
  margin: auto 3px;
}

.card {
 height: 200px; 
 width: 100%;
 border: 1px rgb(202, 199, 199) solid;
 display: flex;
}

.link {
  width: 100%;
  color: #fff;
  transition: background 1s ease-in-out;
}

.link:hover {
  background: rgba(20, 55, 167, 0.507);
}

.detail-header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.detail-header h2 {
  margin-left: 5px;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  text-align: start;
}

.info p {
  margin: 5px;
}